저번 포스팅에서는 Python을 이용한 사다리타기를 만들었습니다. 이번 게시글에서는 이어서 이름과 팀별 인원을 입력하면 랜덤하게 팀을 구성하는 프로그램을 구현해보겠습니다. 코딩 과정이 사다리타기와 유사하기 때문에, 간단하게 글을 한 번 써보도록 하겠습니다. 혹시나 설명이 부족한 부분이 있다면, [이전 게시글](https://eunju-choe.github.io/posts/2022-06-18-ghost%20leg)을 참고해주세요.

# Process 살펴보기

이번에도 프로세스를 먼저 살펴보겠습니다.

In [1]:
import random as rd
import pandas as pd

In [2]:
name_list = ['은주', '인혜', '일하', '동택']
n_list = [2, 2]
team_names = ['A팀', 'B팀']

팀을 만들기 위해 입력값으로 이름 목록(name_list), 팀별 인원 목록(n_list), 팀 이름 목록(team_names) 세 가지를 입력받습니다. 이 중에서 team_names는 optional 입력값으로 둘 것입니다. 이번에도 함수를 구현할 때 고려해야할 점이 몇 가지 있습니다.
- 입력값이 list가 아닌 경우
- name_list의 개수와 n_list의 합이 일치하지 않는 경우
- team_names의 길이와 n_list의 길이가 일치하지 않는 경우

이 부분에 대해 기억하면서 함수를 코딩해야할 것입니다. 이제 입력받은 값을 바탕으로 팀을 구성합니다. name_list에서 n_list의 개수에 맞게 팀원을 랜덤하게 배정하는 것입니다.

In [3]:
result = []
for i in range(len(n_list)):
    lists = []
    for _ in range(n_list[i]):
        pick = rd.choice(name_list)
        name_list.remove(pick)
        lists.append(pick)
        
    result.append([lists])
result

[[['인혜', '일하']], [['동택', '은주']]]

먼저 결과를 담을 result를 선언하고 반복문을 이용하여 팀원을 구성합니다.

첫 번째 반복문에서는 n_list의 길이(팀의 개수)만큼 반복하고, 두 번째 반복문에서는 n_list의 i번째 요소(팀의 인원 수)만큼 반복합니다. 반복문 안에서는 random.choice를 이용하여 이름 목록에 있는 값을 랜덤하게 하나 고르고, lists에 그 값을 저장한 뒤 추출된 이름은 이름 목록에서 제거합니다. 이 과정을 통해 매 팀마다 lists가 형성되고, 그 lists는 결과적으로 result에 저장됩니다.

이 때 result.append(lists)가 아닌 result.append(\[lists\])를 사용한 이유는, 최종 결과는 DataFrame의 형식으로 출력할 것인데 팀마다 인원이 다를 수 있기 때문에 편의상 list의 형태로 저장하는 것입니다.

In [4]:
result = pd.DataFrame(result, index=team_names, columns=['name'])
result

        name
A팀  [인혜, 일하]
B팀  [동택, 은주]

마지막으로 DataFrame으로 출력하였습니다.

# 함수 만들기

함수를 만들기 전에 고려해야할 것들을 다시 한 번 정리해보겠습니다.
- 입력값이 list가 아닌 경우 : list로 입력하도록 경고 띄운 후 종료
- n_list의 합과 name_list의 개수가 일치하지 않는 경우 (입력받은 이름과 배정할 인원의 수가 맞지 않음) : 다시 입력하도록 경고 띄운 후 종료
- team_names의 길이와 n_list의 길이가 일치하지 않는 경우 : 개수가 맞지 않음을 경고한 후 team_names를 초기화하여 출력

이 사항들에 대해서 고려한 후 코딩 진행해보겠습니다.

In [12]:
def make_team(name_list, n_list, team_names=None):
    """
    팀 만들기 : 이름 목록(name_list)과 팀별 인원 목록(n_list)를 입력하면 인원에 맞게 팀을 자동으로 구성합니다.

    Args:
        name_list (list): 이름 목록
        n_list (list): 팀별 인원 목록
        team_names (list, optional): 팀명 목록. Defaults to None.

    Returns:
        pd.DataFrame: 팀 구성 결과
    """
    result_df = pd.DataFrame()

    while True:
        # input이 list의 형태가 아닌 경우
        if (type(name_list) != list) or (type(n_list) != list):
            print('!! name_list와 n_list는 list의 형태로 입력해주세요 !!')
            break

        # team_names가 list의 형태가 아닌 경우
        if (team_names != None) & (type(team_names) != list):
            print('### team_names는 list의 형태로 입력해주세요 ###')
            team_names = range(len(n_list))

        # name_list의 길이와 n_list의 합이 일치하지 않는 경우
        if len(name_list) != sum(n_list):
            print('!! 입력한 이름 목록의 개수와 인원 목록의 합이 일치하지 않습니다 !!')
            break

        # team_names의 길이와 n_list의 길이가6 일치하지 않는 경우
        if team_names != None:
            if len(n_list) != len(team_names):
                print('### 구성할 팀의 개수와 team_names의 개수가 일치하지 않습니다 ###')
                team_names = range(len(n_list))

        # 팀 구성
        result = []
        for i in range(len(n_list)):
            members = []
            for _ in range(n_list[i]):
                member = rd.choice(name_list)
                members.append(member)
                name_list.remove(member)

            result.append([members])

        # 데이터 프레임 형태로 변환
        result_df = pd.DataFrame(result, index=team_names, columns=['name'])
        break

    return result_df

# 함수 사용 예시

In [25]:
names = ['은주', '인혜', '일하', '동택']
n_list = [2, 2]

make_team(names, n_list)

       name
0  [은주, 인혜]
1  [동택, 일하]

In [26]:
# 팀 이름 지정
names = ['은주', '인혜', '일하', '동택']
n_list = [2, 2]
teams = ['A팀', 'B팀']

make_team(names, n_list, teams)

        name
A팀  [일하, 동택]
B팀  [은주, 인혜]

### 예상되는 오류에 대한 예시

In [27]:
# input이 list의 형태가 아닌 경우
names = '은주'
n_list = [1]

make_team(names, n_list, teams)

!! name_list와 n_list는 list의 형태로 입력해주세요 !!

Empty DataFrame
Columns: []
Index: []

In [28]:
# team_names가 list의 형태가 아닌 경우
names = ['은주', '인혜', '일하', '동택']
n_list = [2, 2]
teams = 'A팀'

make_team(names, n_list, teams)

### team_names는 list의 형태로 입력해주세요 ###

       name
0  [은주, 일하]
1  [동택, 인혜]

In [22]:
# name_list의 길이와 n_list의 합이 일치하지 않는 경우
names = ['은주', '인혜', '일하', '동택']
n_list = [2, 2, 2]

make_team(names, n_list, teams)

!! 입력한 이름 목록의 개수와 인원 목록의 합이 일치하지 않습니다 !!

Empty DataFrame
Columns: []
Index: []

In [24]:
# team_names의 길이와 n_list의 길이가 일치하지 않는 경우
names = ['은주', '인혜', '일하', '동택']
n_list = [2, 2]
teams = ['A팀', 'B팀', 'C팀']

make_team(names, n_list, teams)

### 구성할 팀의 개수와 team_names의 개수가 일치하지 않습니다 ###

       name
0  [인혜, 동택]
1  [일하, 은주]

이번에도 이렇게 간단하게 팀을 만드는 함수를 코딩해보았습니다. 다음에도 간단하게 코딩할 수 있는 문제를 찾는다면 다른 게시물로 찾아오겠습니다. 오늘도 제 글 읽어주셔서 감사합니다 :)