파이썬으로 사다리타기를 만들어보자.

우리 동아리는 팀을 만들거나 역할을 배정할 때 사다리타기를 자주 이용합니다. 그러나 동아리의 규모가 커지니 매번 사다리타기에 이름을 입력하는 것이 힘들어졌습니다. 편의를 위해 간단하게 파이썬을 이용하여 사다리타기를 만들었고, 이번에는 이에 대한 게시물을 작성해보고자 합니다.

저는 이번에 아래의 세 가지 기능이 있는 사다리타기를 구현하려고 합니다.
1. n명의 당첨자 정하기
2. 역할 배정하기
3. 순서 정하기

차례대로 기능들을 하나씩 구현해보도록 하겠습니다.

# 1. n명의 당첨자 정하기

## 1.1. Process 살펴보기

당첨자 정하기는 입력 목록에서 n명의 당첨자를 고르는 것입니다. 따라서 입력 목록과 당첨자 수를 입력받고, 당첨자 선정 결과를 출력할 것입니다. 이를 함수로 구현하기에 앞서 process를 먼저 살펴보겠습니다.

In [1]:
import random as rd
import pandas as pd

In [2]:
inputs = ['은주', '인혜', '일하', '동택']
n_inputs = len(inputs)

n_outputs = 2

사다리타기에 이용할 값들을 임의로 생성해보았습니다.
- 입력 목록(inputs)은 list의 형태로 입력받습니다. 따라서 입력 목록이 list가 아닌 경우를 고려해야합니다.
- 당첨자수(n_outputs)는 int의 형태로 입력받습니다. 따라서 당첨자 수가 int가 아닌 경우를 고려해야합니다.

이번에는 2명의 당첨자를 골라보겠습니다.

In [3]:
outputs = ['당첨' for x in range(n_outputs)] + ['꽝' for x in range(n_inputs - n_outputs)]
outputs

['당첨', '당첨', '꽝', '꽝']

결과물 출력을 위해 입력받은 당첨자수만큼 '당첨'을 생성하고, 입력 목록의 개수에서 당첨자수를 뺀만큼 '꽝'을 생성하여 리스트 형태로 만듭니다. 이때 또 고려할 점이 몇가지 있습니다.
- 입력 목록의 개수보다 당첨자수가 많은 경우 : 입력 목록의 개수만큼 당첨이 있는 리스트가 생성됨
- 당첨자수가 0명인 경우 : 입력 목록의 개수만큼 꽝이 있는 리스트가 생성됨

함수로 코딩할 때에는 이 부분에 대해서 간단하게 경고 메시지만 출력하는 방식으로 진행하려고 합니다.

In [4]:
res_dict = {}
for x in inputs:
    res = rd.choice(outputs)
    outputs.remove(res)
    res_dict[x] = res
    
res_dict

{'은주': '꽝', '인혜': '당첨', '일하': '당첨', '동택': '꽝'}

input과 output에 대한 준비가 끝나고 random의 choice를 이용하여 사다리타기를 만들었습니다.

먼저 결과를 저장할 dictionary를 선언하고, 반복문을 이용하여 사다리타기를 실시합니다. rd.choice()를 이용하면 리스트에서 랜덤하게 하나의 요소를 선택할 수 있습니다. 이를 이용하여 res에 하나의 값을 저장하고, outputs에서 res에 저장된 값을 제거해줍니다. 그리고 res_dict에 key 마다 value를 저장합니다.

In [5]:
res_df = pd.DataFrame([res_dict], index=['result']).T
res_df

   result
은주      꽝
인혜     당첨
일하     당첨
동택      꽝

마지막으로 결과를 더 보기 좋게 출력하기 위해 DataFrame으로 변환합니다.

## 1.2. 함수 만들기

위에서 확인했던 고려사항들은 다음과 같습니다.
1. 입력 목록이 list가 아닌 경우
2. 당첨자수가 int가 아닌 경우
3. 입력목록의 개수보다 당첨자수가 많은 경우, 당첨자수가 0인 경우

이를 다시 한 번 기억한 다음 함수로 만들어보겠습니다.

In [6]:
def ghost_lag_OX(inputs, n_outputs, return_only_O=False):
    """
    사다리타기 1 : 당첨자 정하기
    입력 목록에서 입력한 수만큼 당첨자를 선택하여 데이터프레임으로 반환합니다.
    
    Args:
        inputs (list): 사다리타기 입력값
        n_outputs (int): 당첨자의 수
        return_only_O (bool, default=False): 당첨자만 출력할지에 대한 여부
        
    Returns:
        dataframe: 사다리타기 결과값
    """
    result_df = pd.DataFrame()
    
    while True:
        # input이 list 형태가 아닌 경우
        if type(inputs) != list:
            print('!! inputs는 list의 형태로 입력해주세요 !!')
            break
            
        # 입력 목록의 개수 세기
        n_inputs = len(inputs)
        
        # 빈 list를 입력한 경우
        if n_inputs < 1 :
            print('!! 입력 목록이 비어있습니다 !!')
            break
            
        # 입력 목록의 수 < 당첨자의 수
        if n_inputs < n_outputs:
            print('### 입력 목록의 수보다 당첨자의 수가 많습니다 ###')
            
        # 당첨자의 수가 0인 경우
        if n_outputs == 0:
            print('### 당첨자의 수가 0명입니다 ###')
            
        # 출력 리스트 생성
        try:
            outputs = ['당첨' for x in range(n_outputs)] + ['꽝' for x in range(n_inputs - n_outputs)]
        except TypeError:
            print('!! 당첨자의 수는 int형태로 입력되어야 합니다 !!')
            break
            
        # 사다리 타기 결과
        res_dict = {}
        for x in inputs:
            res = rd.choice(outputs)
            outputs.remove(res)
            res_dict[x] = res

        # 데이터프레임으로 변환
        result_df = pd.DataFrame([res_dict], index=['result']).T
        
        # 당첨자만 출력        
        if return_only_O:
            result_df = result_df[result_df['result']!='꽝']
        
        break
        
    return result_df

## 1.3. 함수 사용 예시

In [46]:
names = ['은주', '인혜', '일하', '동택']
n_outputs = 2
ghost_lag_OX(names, n_outputs, False)

   result
은주     당첨
인혜     당첨
일하      꽝
동택      꽝

return_only_O=True로 지정할 경우 아래와 같이 당첨자의 이름만 출력할 수도 있습니다.

In [8]:
names = ['은주', '인혜', '일하', '동택']
n_outputs = 2
ghost_lag_OX(names, n_outputs, True)

   result
일하     당첨
동택     당첨

#### 예상되는 오류에 대한 예시

In [9]:
ghost_lag_OX('가', 0)

!! inputs는 list의 형태로 입력해주세요 !!

Empty DataFrame
Columns: []
Index: []

In [10]:
ghost_lag_OX([], 0)

!! 입력 목록이 비어있습니다 !!

Empty DataFrame
Columns: []
Index: []

In [11]:
ghost_lag_OX(names, 2.4)

!! 당첨자의 수는 int형태로 입력되어야 합니다 !!

Empty DataFrame
Columns: []
Index: []

In [12]:
ghost_lag_OX(names, 6)

### 입력 목록의 수보다 당첨자의 수가 많습니다 ###

   result
은주     당첨
인혜     당첨
일하     당첨
동택     당첨

In [13]:
ghost_lag_OX(names, 0)

### 당첨자의 수가 0명입니다 ###

   result
은주      꽝
인혜      꽝
일하      꽝
동택      꽝

# 2. 역할 배정하기

## 2.1. Process 살펴보기

역할 배정하기는 입력 목록과 역할 목록을 직접 입력하여 사다리타기를 진행하는 것입니다. 따라서 입력 목록과 역할 목록을 입력받고 사다리타기한 결과를 출력하는 것입니다. 여기에 입력 목록보다 역할 목록이 적은 경우에는 꽝을 출력할 수 있도록 만들려고 합니다. 이번에도 process를 먼저 살펴보겠습니다.

In [14]:
inputs = ['은주', '인혜', '일하', '동택']
outputs = ['PPT 제작', '발표', '자료 조사']

이번에도 사다리타기에 이용할 값들을 임의로 생성하였습니다.
- 입력 목록(inputs)과 역할 목록(outputs)은 list 형태로 입력받습니다.
- 입력 목록의 개수보다 역할 목록의 개수가 많다면 오류가 발생합니다.

위와 같이 inputs 개수보다 outputs의 개수가 적다면 남은 자리를 꽝으로 채울 것입니다.

In [15]:
outputs = outputs + ['꽝' for x in range(len(inputs) - len(outputs))]
outputs

['PPT 제작', '발표', '자료 조사', '꽝']

위에서 사용했던 방식과 동일하게 사다리 타기에 이용할 출력 목록을 구성하였습니다.\
이후로 진행되는 과정은 앞에서 사용했던 방식의 반복이기 때문에 다른 부분이 없다면 설명은 생략하도록 하겠습니다.

In [16]:
res_dict = {}
for x in inputs:
    res = rd.choice(outputs)
    outputs.remove(res)
    res_dict[x] = res
    
res_dict

{'은주': 'PPT 제작', '인혜': '꽝', '일하': '자료 조사', '동택': '발표'}

In [17]:
res_df = pd.DataFrame([res_dict], index=['result']).T
res_df

    result
은주  PPT 제작
인혜       꽝
일하   자료 조사
동택      발표

## 2.2. 함수 만들기

위에서 확인했던 고려사항들은 다음과 같습니다.
1. 입력 목록과 역할 목록이 list가 아닌 경우
2. 입력 목록의 개수보다 역할 목록의 개수가 많은 경우

이를 다시 한 번 기억한 다음 함수로 만들어보겠습니다.

In [18]:
def ghost_lag_role(inputs, outputs, return_only_O=False):
    """
    사다리타기 2 : 역할 배정하기
    입력 목록과 역할 목록을 직접 입력하여 사다리타기한 결과를 반환합니다.
    
    Args:
        inputs (list): 사다리타기 입력값
        outputs (list): 사다리타기 출력값
        return_only_O (bool, default=False): 당첨자만 출력할지에 대한 여부
        
    Returns:
        dataframe: 사다리타기 결과값
    """
    result_df = pd.DataFrame()
    
    while True:
        # inputs 또는 outputs가 list 형태가 아닌 경우
        if (type(inputs) != list) or (type(outputs) != list):
            print('!! inputs와 outputs는 list의 형태로 입력해주세요 !!')
            break
        
        # inputs에 빈 list를 입력한 경우
        if len(inputs) < 1 :
            print('!! 입력 목록이 비어있습니다 !!')
            break
            
        # 입력목록의 개수보다 출력목록의 개수가 많은 경우
        if len(inputs) < len(outputs):
            print('!! 입력 목록의 수보다 출력 목록의 수가 많습니다 !!')
            break
            
        # outputs에 빈 list를 입력한 경우
        if (len(outputs)) < 1:
            print('### 출력 목록이 비어있습니다 ###')
            
        # 출력 리스트 생성 
        outputs = outputs + ['꽝' for x in range(len(inputs) - len(outputs))]
        
        # 사다리 타기 결과
        res_dict = {}
        for x in inputs:
            res = rd.choice(outputs)
            outputs.remove(res)
            res_dict[x] = res

        # 데이터프레임으로 변환
        result_df = pd.DataFrame([res_dict], index=['result']).T
        
        # 당첨자만 출력        
        if return_only_O:
            result_df = result_df[result_df['result']!='꽝']
        
        break
        
    return result_df

## 2.3. 함수 사용 예시

In [19]:
inputs = ['은주', '인혜', '일하', '동택']
outputs = ['PPT 제작', '발표', '자료 조사']

ghost_lag_role(inputs, outputs)

    result
은주  PPT 제작
인혜   자료 조사
일하       꽝
동택      발표

In [20]:
inputs = ['은주', '인혜', '일하', '동택']
outputs = ['PPT 제작', '발표', '자료 조사']

ghost_lag_role(inputs, outputs, True)

    result
인혜   자료 조사
일하      발표
동택  PPT 제작

#### 예상되는 오류에 대한 예시

In [21]:
inputs = '가'
outputs = ['PPT 제작', '발표', '자료 조사']

ghost_lag_role(inputs, outputs)

!! inputs와 outputs는 list의 형태로 입력해주세요 !!

Empty DataFrame
Columns: []
Index: []

In [22]:
inputs = []
outputs = ['PPT 제작', '발표', '자료 조사']

ghost_lag_role(inputs, outputs)

!! 입력 목록이 비어있습니다 !!

Empty DataFrame
Columns: []
Index: []

In [23]:
inputs = ['은주', '인혜']
outputs = ['PPT 제작', '발표', '자료 조사']

ghost_lag_role(inputs, outputs)

!! 입력 목록의 수보다 출력 목록의 수가 많습니다 !!

Empty DataFrame
Columns: []
Index: []

In [24]:
inputs = ['은주', '인혜', '일하', '동택']
outputs = []

ghost_lag_role(inputs, outputs)

### 출력 목록이 비어있습니다 ###

   result
은주      꽝
인혜      꽝
일하      꽝
동택      꽝

# 3. 순서 정하기

## 3.1. Process 살펴보기

역할 배정하기는 n명의 당첨자 정하기에서 조금 수정한 형태로, 입력 목록에서 당첨자 수만큼 순서를 정하는 것입니다. 따라서 입력 목록과 당첨자 수를 입력받고 사다리타기한 결과를 출력하는 것입니다. process를 살펴보도록 하겠습니다. 이번에도 앞의 내용과 중복되는 부분들은 설명 생략하겠습니다.

In [25]:
inputs = ['은주', '인혜', '일하', '동택']
n_inputs = len(inputs)

n_outputs = 2

In [26]:
outputs = [str(x+1) for x in range(n_outputs)] + ['꽝' for x in range(n_inputs - n_outputs)]
outputs

['1', '2', '꽝', '꽝']

결과물 출력을 위해 입력받은 당첨자수만큼 숫자를 순서대로 생성하고, 입력 목록의 개수에서 당첨자 수를 뺀만큼 '꽝'을 생성하여 리스트 형태로 만듭니다.

In [27]:
res_dict = {}
for x in inputs:
    res = rd.choice(outputs)
    outputs.remove(res)
    res_dict[x] = res
    
res_dict

{'은주': '1', '인혜': '꽝', '일하': '꽝', '동택': '2'}

In [28]:
res_df = pd.DataFrame([res_dict], index=['result']).T
res_df

   result
은주      1
인혜      꽝
일하      꽝
동택      2

## 1.2. 함수 만들기

In [29]:
def ghost_lag_order(inputs, n_outputs, return_only_O=False, order=True):
    """
    사다리타기 3 : 순서 정하기
    입력 목록에서 입력한 수만큼 순서를 정하고 데이터프레임으로 반환합니다.
    
    Args:
        inputs (list): 사다리타기 입력값
        n_outputs (int): 당첨자의 수
        return_only_O (bool, default=False): 당첨자만 출력할지에 대한 여부
        order (bool, default=True): 순위에 따라 정렬할지에 대한 여부
        
    Returns:
        dataframe: 사다리타기 결과값
    """
    result_df = pd.DataFrame()
    
    while True:
        # input이 list 형태가 아닌 경우
        if type(inputs) != list:
            print('!! inputs는 list의 형태로 입력해주세요 !!')
            break
            
        # 입력 목록의 개수 세기
        n_inputs = len(inputs)
        
        # 빈 list를 입력한 경우
        if n_inputs < 1 :
            print('!! 입력 목록이 비어있습니다 !!')
            break
            
        # 입력 목록의 수 < 당첨자의 수
        if n_inputs < n_outputs:
            print('!! 입력 목록의 수보다 당첨자의 수가 많습니다 !!')
            break
            
        # 당첨자의 수가 0인 경우
        if n_outputs == 0:
            print('### 당첨자의 수가 0명입니다 ###')
            
        # 출력 리스트 생성
        try:
            outputs = [str(x+1) for x in range(n_outputs)] + ['꽝' for x in range(n_inputs - n_outputs)]
        except TypeError:
            print('!! 당첨자의 수는 int형태로 입력되어야 합니다 !!')
            break
            
        # 사다리 타기 결과
        res_dict = {}
        for x in inputs:
            res = rd.choice(outputs)
            outputs.remove(res)
            res_dict[x] = res

        # 데이터프레임으로 변환
        result_df = pd.DataFrame([res_dict], index=['result']).T
        
        # 당첨자만 출력        
        if return_only_O:
            result_df = result_df[result_df['result']!='꽝']
        
        # 순서에 따라 정렬
        if order:
            result_df = result_df.sort_values(by='result', ascending=True)
            
        break
        
    return result_df

## 1.3. 함수 사용 예시

In [52]:
names = ['은주', '인혜', '일하', '동택']
n_outputs = 2
ghost_lag_order(names, n_outputs)

   result
은주      1
인혜      2
일하      꽝
동택      꽝

In [54]:
names = ['은주', '인혜', '일하', '동택']
n_outputs = 2
ghost_lag_order(names, n_outputs, True)

   result
은주      1
인혜      2

---

이렇게 간단하게 사다리타기를 구현해보았습니다. 간단한 문제들에 대해 파이썬으로 구현하는 연습을 하는게 재미있는 것 같습니다. 부족하지만 오늘도 제 글 읽어주셔서 감사합니다 :)